<!DOCTYPE html>
<html>
<body>

<h1>Calculate</h1>

<section>
    <section>
        <!-- <a>Calculate</a> -->
        <ul>            
            <li><a href="/home">Home</a></li>
            <li><a href="/services">Services</a></li>
        </ul>

        <h2>Calculous</h2>
        <!-- <label> {{ value}} </label> -->
        <h1><%= value %></h1>
        <h1></h1>
    </section>
</section>

</body>
</html>